.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  width: 400px;
  margin: auto;
}

.ui.red.button:focus,
.ui.red.buttons .button:focus {
  background-color: #db2828;
}

.ui.inverted.segment,
.ui.primary.inverted.segment {
    background: #1564b3;
    color: rgba(192, 26, 26, 0.9);
}

body {
  background: linear-gradient(to bottom, #1C1C1C 13%, #FF6000 100%);
  color:rgb(255, 255, 255);
}